body {
  max-width: 100%;
  height: 100vh;

  margin: 0;
  padding: 0;

  color: #e5e5e5;

  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  line-height: 1.6rem;

  overflow-x: hidden;
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

/*Header*/
h1 {
  margin-bottom: 80px;

  font-size: 2.98rem;
}

.intro {
  width: 100%;
  height: 550px;

  background: #272727;
}

.header {
  width: 100%;
  max-width: none;
  height: 91px;
}

.header-content {
  margin: 0;
}

.lang {
  margin-left: 50px;
}

.logo {
  width: 40%;
  height: 25%;
}

.contacts-item {
  color: #ffffff;
}

.contacts-item:hover {
  text-decoration: none;
}

.title-white {
  margin-top: 40px;

  color: #fff;
}

.title-black {
  margin-top: 170px;
  color: #000000;
}

.line {
  width: 100%;

  margin-top: 0;
}

/*Navigation*/

.nav-link {
  display: inline-block;

  color: #ffffff;

  text-decoration: none;
}

/*Services*/
ul {
  margin-bottom: 170px;

  list-style-type: none;
}

li {
  color: #000000;

  font-size: 1.5rem;
  line-height: 2.2em;
}

.services {
  background-color: #f5f5f5;
}

.bus {
  width: 100%;

  padding-top: 140px;
}

/*Needs*/

.needs-card {
  padding: 0;

  color: #000000;
}

.needs-text {
  font-size: 1.25rem;
}

/*Solution*/

.solution {
  background-image: url("../images/bg/solution_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  white-space: wrap;
}

.solution-text {
  padding-right: 50px;

  color: #000000;
}

/* Timeline */

.timeline-block {
  display: flex;

  padding-bottom: 60px;
}

.timeline-block:last-child {
  margin-bottom: 350px;
}

.timeline-text {
  color: #000;
}

.marker {
  width: 20px;
  height: 20px;

  margin: auto;

  background: #3c77e9;
  border: 4px solid #e5e5e5;
  border-radius: 50%;

  z-index: 9999;
}

.timeline-number {
  min-width: 60px;

  color: #3c77e9;

  font-size: 3.4375rem;
}

/*Action*/
input {
  width: 100%;
  height: 66px;

  margin-bottom: 190px;
  padding-left: 30px;
}

label {
  display: unset;
}

.action {
  background: linear-gradient(194deg, #3798f1 -10.24%, #406ff5 104.88%), #0041ac;
}

.bluecar {
  width: 100%;
  position: relative;
  margin-top: -18%;
}

.action-title {
  text-align: center;
}

.button {
  width: 100%;
  height: 66px;

  padding-top: 17px;

  color: #fff;
  border: 1px solid #f53f3f;
  background-color: #f53f3f;

  text-align: center;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
}

/*Advantages*/

.tft-card {
  height: 314px;

  margin-bottom: 30px;
  padding: 40px 30px;

  border: 1px solid #e8e8e8;
}

.card-title {
  padding-top: 124px;

  color: #000;

  font-size: 1.4rem;
  font-weight: 600;
}

.card-text {
  color: #000;

  font-size: 1rem;
  font-weight: 400;
}

.tft-card:hover {
  background: linear-gradient(#3798f1, #406ff5);
  color: #fff;
}

.tft-card img {
  position: absolute;

  height: 94px;
  width: 94px;

  transition: 0.7s ease;
}

.tft-card:hover div {
  color: #fff;
}

.tft-card:hover img {
  width: 290px;
  height: 260px;

  opacity: 0.7;
}

/*Computer*/

.computer {
  align-items: center;
  margin-top: 120px;

  background: url(../images/map.png);
}

.computer-img {
  width: 100%;
}

/*Clients*/

.clients {
  padding-bottom: 130px;
}

/*Footer*/
footer {
  padding: 30px 0;

  background-color: #272727;
}

hr {
  border-top: 1px solid #fff;
}

.footer-contacts {
  display: inline-flex;

  color: #fff;

  font-size: 1.6rem;
}

.footer-btn {
  margin-bottom: 86px;
}

.address {
  margin-top: 50px;

  color: #fff;

  font-size: 1.6rem;
}

.input-title {
  margin-bottom: 50px;

  color: #fff;

  font-size: 1.5rem;
  font-weight: 600px;
}

.footer-input {
  width: 100%;

  padding-top: 80px;
  padding-left: 150px;
}

#num {
  margin-bottom: 30px;
}

/*Media*/

@media (max-width: 575.98px) {
  section {
    padding-bottom: 60px;
  }

  /*Header*/
  h1 {
    margin: 20px auto;

    font-size: 1.625rem;
  }

  .intro {
    height: 350px;
  }

  .header {
    padding: 0;
  }

  .logo {
    width: 20%;
  }

  .line {
    margin: 0;
    padding: 0;
  }

  .contacts-item {
    display: none;
  }

  .title-white {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .title-black {
    margin-top: 30px;
  }

  /*Navigation*/
  nav {
    text-align: center;
  }

  .nav-link {
    padding: 0;

    font-size: 0.9rem;
  }

  /*Services*/
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 1rem;
    line-height: 2em;
  }

  .bus {
    width: 100%;

    margin-bottom: 20px;
    padding-top: 20px;
  }

  /*Needs*/
  .needs-icon {
    height: 40px;
    width: 40px;
    float: right;
    margin: 10px;
  }

  .needs-text {
    padding-bottom: 15px;

    font-size: 0.9rem;
  }

  /*Tasks*/
  .solution-text {
    margin-bottom: 50px;

    font-size: 1rem;
  }

  .solution-list::before {
    height: 850px;
    margin: 20px;
  }

  /*Timeline*/
  .timeline-block {
    padding-bottom: 20px;
  }

  .timeline-block:last-child {
    margin-bottom: 60px;
  }

  .timeline-text {
    font-size: 1rem;
  }

  .marker {
    margin: 13px;
  }

  /*Action*/

  input {
    width: 100%;
    height: 66px;

    margin-bottom: 50px;
  }
  .bluecar {
    display: none;
  }

  .button {
    width: 100%;
  }

  /*Advantages*/

  .card:hover .card-text {
    padding-top: 30px;

    font-size: 1rem;
  }

  .card:hover .card-title {
    padding-top: 100px;
  }

  .tft-card:hover img {
    width: 230px;
    height: 230px;

    opacity: 0.7;
  }

  .computer {
    display: none;
  }

  .clients-title {
    text-align: center;
  }

  .clients {
    padding-bottom: 50px;
  }

  /*Footer*/
  footer {
    padding: 0;
  }

  .footer-title {
    text-align: center;
  }
  .footer-input {
    padding-top: 80px;
    padding-left: 0;
  }

  .footer-contacts {
    font-size: 1.5rem;
    text-align: center;
  }

  .footer-img {
    width: 100%;
  }

  .footer-text {
    font-size: 0.9rem;
  }

  .footer-btn {
    margin-bottom: 40px;
  }

  .address {
    font-size: 1.5rem;
    text-align: center;
  }

  .copyright {
    margin: 30px auto;

    text-align: center;
    font-size: 0.9rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    margin: 0;
  }

  section {
    padding-bottom: 60px;
  }

  /*Header*/

  h1 {
    margin-top: 50px;
    margin-bottom: 30px;

    font-size: 2.2rem;
  }

  .intro {
    width: 100%;
    height: 400px;
  }

  .logo {
    width: 15%;
  }

  .title-white {
    height: 50px;

    margin-top: 50px;
  }

  .title-black {
    margin-top: 50px;
  }

  .line {
    margin-top: 80px;
    margin-bottom: 50px;
  }

  .contacts-item {
    display: none;
  }

  /*Services*/
  ul {
    margin-bottom: 0;
  }

  li {
    font-size: 1.1rem;
  }

  .bus {
    padding-top: 20px;
  }

  /*Solution*/

  .timeline-block {
    padding-bottom: 30px;
  }

  .timeline-block:last-child {
    margin-bottom: 60px;
  }

  .solution-text {
    padding-bottom: 30px;
  }

  /*Action*/
  input {
    width: 100%;
    height: 66px;

    margin-bottom: 170px;
    padding-left: 30px;
  }

  .bluecar {
    display: none;
  }

  #name {
    margin-bottom: 20px;
    margin-top: 100px;
  }

  #number {
    margin-bottom: 20px;
  }

  /*Footer*/

  .footer-title {
    text-align: center;
  }

  .footer-input {
    padding-left: 0;
  }

  .footer-contacts {
    font-size: 1.5rem;
    text-align: center;
  }

  .address {
    text-align: center;
  }

  .copyright {
    margin-top: 20px;

    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    margin: 0;
  }

  section {
    padding-bottom: 50px;
  }
  /*Header*/

  h1 {
    font-size: 2.5rem;
  }
  nav {
    text-align: center;
  }

  .intro {
    width: 100%;
    height: 450px;
  }

  .contacts-item {
    display: none;
  }

  .logo {
    width: 10%;
  }

  .line {
    padding-top: 50px;
  }

  .title-white {
    height: 50px;

    margin-top: 50px;
  }

  .title-black {
    margin-top: 50px;
  }

  /*Services*/
  ul {
    margin-bottom: 0;
  }

  li {
    font-size: 1.1rem;
  }

  .bus {
    padding-top: 30px;
  }

  /*Solution*/
  .solution-text {
    padding-bottom: 50px;
  }

  .timeline-block:last-child {
    margin-bottom: 60px;
  }

  /*Action*/

  .bluecar {
    display: none;
  }

  .input {
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
  }

  #name {
    margin-bottom: 30px;
  }

  #number {
    margin-bottom: 30px;
  }

  /*Footer*/

  .footer-contacts {
    text-align: center;
  }

  .footer-input {
    padding-left: 0;
  }

  .number {
    padding-bottom: 20px;
  }

  .address {
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    margin: 0;
  }

  section {
    padding-bottom: 70px;
  }

  /*Header*/
  h1 {
    font-size: 2.5rem;
  }

  .intro {
    width: 100%;
    height: 500px;
  }

  .contacts-item {
    display: none;
  }

  .logo {
    width: 100%;
  }

  .title-white {
    height: 50px;

    margin-top: 0;
  }

  .title-black {
    margin-top: 50px;
  }

  .line {
    margin-top: 120px;
  }

  /*Services*/
  ul {
    margin-bottom: 0;
  }

  li {
    font-size: 1.2rem;
  }

  input {
    margin-bottom: 0;
  }

  .bus {
    padding-top: 40px;
  }

  .tft-card:hover img {
    width: 220px;
    height: 220px;
  }
}

@media (min-width: 1200px) {
  .contacts-item {
    float: right;
  }
}
